{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>Name</td>
            <td>{{ company.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ company.bio }}</td>
        </tr>
        <tr>
            <td>Likes</td>
            <td>{{ company.likes }}</td>
        </tr>
    </table>

    <h4>Your jobs:</h4>
    <ul>
    {% for job in jobs %}
        <li><a href="{% url 'jobs:detail' job.id %}">{{ job.name }}</a></li>
    {% endfor %}
    </ul>

    <p>Register new job <a href="{% url 'jobs:register' %}">here.</a></p>
{% endblock %}