{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>First name</td>
            <td>{{ student.user.first_name }}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{ student.user.last_name }}</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>{{ student.bio }}</td>
        </tr>
    </table>

    <h4>Your tools:</h4>
    <ul>
    {% for tool in tools %}
        <li><a href="{% url 'tools:detail' tool.id %}">{{ tool.name }}</a></li>
    {% endfor %}
    </ul>

    <p>Register new tool <a href="{% url 'tools:register' %}">here.</a></p>
{% endblock %}