{% extends "base.html" %}

{% block title %}Homepage{% endblock %}


{% block content %}
    {% if not user.is_authenticated %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome!</h1>
            <p>Find out how, as a company, you can benefit from using this platform by using student-made tools or place a job to let a student create a tool for you.
            Students, find out how you can give your career a boost by creating tools used by real companies.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    {% endif %}

    <h2>Tools</h2>
    <div class="row">
    {% for tool in tools %}
        <div class="col-md-4 card">
            <div class="card-body">
                <h5 class="card-title">{{ tool.name }}</h5>
                <p class="card-text">{{ tool.description }}</p>
                <a class="btn btn-secondary" href="{% url 'tools:detail' tool.id %}" role="button">View details &raquo;</a>
            </div>
        </div>
    {% endfor %}
    </div>

    <h2>Jobs</h2>
    <div class="row">
    {% for job in jobs %}
        <div class="col-md-4 card">
            <div class="card-body">
                <h5 class="card-title">{{ job.name }}</h5>
                <p class="card-text">{{ job.description }}</p>
                <a class="btn btn-secondary" href="{% url 'jobs:detail' job.id %}" role="button">View details &raquo;</a>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}