<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<h1>ImproveOn <small>// platform to connect students with companies.</small></h1>

<ul>
    <li><a href="{% url 'companies:index' %}">Companies</a></li>
    <li><a href="{% url 'jobs:index' %}">Jobs</a></li>
    <li><a href="{% url 'tools:index' %}">Tools</a></li>
    <li><a href="{%  url 'students:index' %}">Students</a></li>
</ul>

<hr>

{% block content %}{% endblock %}
</body>
</html>